<div class="container">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="" class="col-md-3 control-label">Name</label>
			<div class="col-md-7">
				<input type="text" class="form-control" id="name" ng-model='parking.name' placeholder="Name of the parking">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-md-3 control-label">Address</label>
			<div class="col-md-7">
				<input type="text" class="form-control" id="address" ng-model='parking.address' placeholder="Address of the parking">
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-3 control-label">Description</label>
			<div class="col-md-7">
				<textarea class="form-control" rows="2" id="description" ng-model='parking.description' placeholder="Working hours, limitations, etc."></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-3 control-label">Number of Sensors</label>
			<div class="col-md-7">
				<select class="form-control" ng-model='number_of_sensors' ng-change="number_of_sensors_changed()" ng-options="item.toString() for item in [2, 4, 8, 16, 32, 64, 128]">
				</select>
			</div>
		</div>
		<div ng-repeat='spot in parking.spots track by $index'>
			<div class="form-group">
				<label for="name" class="col-md-3 control-label">Sensor #{{$index + 1}} :: Label</label>
				<div class="col-md-7">
					<input type="text" class="form-control" id="address" ng-model='spot.label'>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-10">
				<button ng-if="mode == 'new'" type="submit" class="btn btn-raised btn-primary" ng-click='submit_new_parking()'>Create</button>
				<button ng-if="mode == 'edit'" type="submit" class="btn btn-raised btn-primary" ng-click='submit_edited_parking()'>Submit</button>
				<button ng-if="mode == 'edit'" type="submit" class="btn  btn-raised btn-danger" ng-click='delete_parking()'>Delete</button>
				<button type="submit" class="btn btn-raised btn-default" ng-click='cancel()'>Cancel</button>
			</div>
		</div>
	</form>
</div>